@font-face {
  font-family: "Futura";
  src: url("Futura/Futura-Book-2.ttf");
}
@font-face {
  font-family: "ArgonPERSONAL";
  src: url("Argon/ArgonPERSONAL-Regular-1.otf");
}
@font-face {
  font-family: "Inconsolata";
  src: url("Inconsolata/Inconsolata.ttf");
}

html {
  scroll-behavior: smooth;
}

.tick text {
  font-family: Futura;
  font-size: 15px;
}

.title {
  width: auto;
  font-family: Futura;
  font-size: 120px;
  font-weight: bold;
  position: absolute;
  margin: 0;
}
#title1 {
  left: 650px;
  top: 65px;
}
#title2 {
  left: 800px;
  top: 100px;
  font-size: 80px;
}
#title3 {
  left: 900px;
  top: 65px;
}
#title4 {
  left: 650px;
  top: 250px;
}
#title5 {
  font-size: 80px;
  left: 710px;
  top: 285px;
}
#title6 {
  left: 820px;
  top: 250px;
  width: 690px;
}
#credit {
  font-size: 30px;
  font-weight: normal;
  left: 1075px;
  top: 450px;
}

.mainContent {
  position: absolute;
  font-family: Inconsolata;
}
#intro {
  left: 650px;
  top: 550px;
  width: 800px;
  font-size: 25px;
}
#intro2 {
  left: 650px;
  top: 800px;
  width: 800px;
  font-size: 25px;
}
#intro3 {
  left: 650px;
  top: 925px;
  width: 800px;
  font-size: 75px;
  text-align: center;
}
#intro4 {
  left: 650px;
  top: 1100px;
  width: 800px;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}
#intro5 {
  left: 650px;
  top: 1225px;
  width: 800px;
  font-size: 25px;
}
#intro6 {
  left: 650px;
  top: 1475px;
  width: 800px;
  font-size: 25px;
}
#intro7 {
  left: 650px;
  top: 1700px;
  width: 800px;
  font-size: 25px;
}

#graph11 {
  left: 975px;
  top: 1900px;
  width: 500px;
  font-size: 23px;
}
#graph12 {
  left: 975px;
  top: 1960px;
  width: 500px;
  font-size: 23px;
}
#graph13 {
  left: 975px;
  top: 2020px;
  width: 500px;
  font-size: 23px;
}
#graph14 {
  left: 975px;
  top: 2050px;
  width: 500px;
  font-size: 23px;
}
#graph15 {
  left: 975px;
  top: 2080px;
  width: 500px;
  font-size: 23px;
}
#graph16 {
  left: 975px;
  top: 2130px;
  width: 500px;
  font-size: 23px;
}
#graph17 {
  left: 975px;
  top: 2310px;
  width: 500px;
  font-size: 23px;
}
/* #clickToZoomIn1 {
  color: darkblue;
  text-decoration-line: underline;
  text-decoration-style: dashed;
}
#clickToZoomIn2 {
  color: darkblue;
  text-decoration-line: underline;
  text-decoration-style: dashed;
}
#clickToZoomIn1:hover {
  color: darkgreen;
  cursor: pointer;
}
#clickToZoomIn2:hover {
  color: darkgreen;
  cursor: pointer;
} */
.interactiveBtn {
  color: darkblue;
  text-decoration-line: underline;
  text-decoration-style: dashed;
}
.interactiveBtn:hover {
  color: darkgreen;
  cursor: pointer;
}
#graph1instruction1 {
  left: 975px;
  top: 2265px;
  width: 500px;
  font-size: 20px;
  font-weight: 800;
}
#graph1instruction2 {
  left: 975px;
  top: 2430px;
  width: 500px;
  font-size: 20px;
  font-weight: 800;
}


/* .selected {
  opacity: 0.1;
} */

svg text {
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.grid line {
  stroke: lightgrey;
  stroke-opacity: 0.7;
  shape-rendering: crispEdges;
}

.grid path {
  stroke-width: 0;
}

#container1 {
  position: absolute;
}


#transition1 {
  top: 2650px;
  left: 150px;
  width: 1200px;
  font-size: 30px;
  text-align: center;
}
#transition2 {
  top: 2775px;
  left: 150px;
  width: 1200px;
  font-size: 30px;
  text-align: center;
}
#spam1 {
  top: 2900px;
  left: 100px;
  width: 500px;
  font-size: 40px;
  font-weight: bold;
}
#spam2 {
  top: 3000px;
  left: 100px;
  width: 500px;
  font-size: 30px;
}
#spam3 {
  top: 3100px;
  left: 100px;
  width: 500px;
  font-size: 30px;
}
#spam4 {
  top: 3230px;
  left: 100px;
  width: 500px;
  font-size: 30px;
}
#spam5 {
  top: 3330px;
  left: 100px;
  width: 500px;
  font-size: 30px;
}
.highlightedNumber {
  color:darkred;
}
/* #spamPercentage {
  color: darkblue;
  text-decoration-line: underline;
  text-decoration-style: dashed;
}
#spamPercentage:hover {
  color: darkgreen;
  cursor: pointer;
} */

#spam01{
  top: 3430px;
  left: 100px;
  width: 500px;
  font-size: 30px;
}
#spam02 {
  top: 3650px;
  left: 100px;
  width: 500px;
  font-size: 30px;
}
#spam03 {
  top: 3770px;
  left: 100px;
  width: 500px;
  font-size: 30px;
}
#spam04 {
  top: 4120px;
  left: 100px;
  width: 500px;
  font-size: 30px;
}
#spam05 {
  top: 4350px;
  left: 100px;
  width: 500px;
  font-size: 30px;
}
#spam06{
  top: 3820px;
  left: 100px;
  width: 520px;
  font-size: 30px;
  opacity: 0;
}
#containerfor2 {
  position: absolute;
  left: 650px;
  top: 2950px;
  height: 1650px;
}
#container2 {
  position: sticky;
  top: 50px;
}
#position1 {
  top: 4750px;
  left: 100px;
  width: 500px;
  font-size: 40px;
  font-weight: bold;
}
#position2 {
  top: 4850px;
  left: 100px;
  width: 500px;
  font-size: 30px;
}
#position3 {
  top: 5115px;
  left: 100px;
  width: 500px;
  font-size: 25px;
  font-weight: bold;
}
#position4 {
  top: 5225px;
  left: 100px;
  width: 500px;
  font-size: 30px;
}
#container3 {
  position: absolute;
  left: 620px;
  top: 4875px;
}

#transition3 {
  top: 5450px;
  left: 250px;
  width: 1000px;
  font-size: 30px;
  text-align: center;
}

#combination1 {
  top: 5700px;
  left: 900px;
  width: 600px;
  font-size: 40px;
  font-weight: bold;
}

#combination2 {
  top: 5800px;
  left: 900px;
  width: 600px;
  font-size: 30px;
}
#combination3 {
  top: 6100px;
  left: 900px;
  width: 600px;
  font-size: 30px;
}
#combination4 {
  top: 6215px;
  left: 900px;
  width: 600px;
  font-size: 25px;
}
#combination5 {
  top: 6315px;
  left: 900px;
  width: 600px;
  font-size: 25px;
}
#combination6 {
  top: 6415px;
  left: 900px;
  width: 600px;
  font-size: 25px;
}
#container {
  position: absolute;
  left: 25px;
  top: 5750px;
}
.combSt {
  padding: 2px;
  border-radius: 10px;
  border: solid;
}
.combSt:hover {
  cursor: pointer;
  filter: opacity(60%);
}
#st1{
  opacity: 0;
}

#textSenti1 {
  top: 6650px;
  left: 100px;
  width: 1000px;
  font-size: 40px;
  font-weight: bold;
}
#textSenti2 {
  top: 6750px;
  left: 100px;
  width: 600px;
  font-size: 30px;
}
#textSenti3 {
  top: 6975px;
  left: 100px;
  width: 600px;
  font-size: 30px;
}
#textSenti4 {
  top: 6825px;
  left: 850px;
  width: 600px;
  font-size: 35px;
}
#container5 {
  position: absolute;
  left: 100px;
  top: 7200px;
}
#textSenti5 {
  top: 7850px;
  left: 100px;
  width: 600px;
  font-size: 30px;
}
#textSenti6 {
  top: 7850px;
  left: 800px;
  width: 600px;
  font-size: 30px;
}

#endSep {
  position: absolute;
  top: 8220px;
  width: 1300px;
  left: 100px;
  border-style: inset;
}

#generalConclusion0 {
  top: 8300px;
  left: 150px;
  width: 1200px;
  font-size: 35px;
  text-align: center;
}
#generalConclusion1 {
  top: 8600px;
  left: 150px;
  width: 1200px;
  font-size: 35px;
  text-align: center;
}
#generalConclusion2 {
  top: 8850px;
  left: 150px;
  width: 1200px;
  font-size: 35px;
  text-align: center;
}

#Ending0 {
  position: absolute;
  top: 9500px;
  left: 700px;
  width: 100px;
  font-size: 80px;
  transition: 2s;
  text-align: center;
}
#Ending1 {
  position: absolute;
  top: 9500px;
  left: 700px;
  width: 100px;
  font-size: 80px;
  opacity: 0;
  z-index: -1;
  transition: 2s;
  text-align: center;
}
#Ending0:hover {
  cursor:pointer;
}
#Ending2 {
  position: absolute;
  font-family: Futura;
  top: 9800px;
  left: 500px;
  width: 500px;
  font-size: 100px;
  opacity: 0;
  transition: 5s;
  text-align: center;
  font-weight: bold;
}

#forHeight {
  position: absolute;
  width: 1200px;
  top: 9800px;
  height: 500px;
}
