body{
  width, height: 100%;
  margin: 0;
  user-select: none;
}

#viz{
  border: 2px black solid;
  /* background-color: #d4d4d4; */
  width: 2397px;
  height: 797px;
  margin: 0;
}
#word{
  display: none;
}
